
out
js-out/

example/.compact-inc.cirru
.calcit-error.cirru

# Ignore all
src/cr
src/cr_once
tests/test_expr
tests/run_calcit
tests/prof
tests/gynienic
tests/large_json

src/*.out

profile_results.txt
calcit_runner_*.nims

src/includes/calcit.procs.js*
src/includes/calcit.procs.mjs*
src/includes/node_modules
src/includes/package-lock.json

