name: Tests

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: jiro4989/setup-nim-action@v1
      with:
        nim-version: "1.2.6"
    - name: Test command
      run: nimble test -Y
